tries = 0
n1=0
n2=0
sum=0

while True:
    o= str(input("what mathematical operation you want to perform? Choose from -,+,/,*: "))
    if o=="-":
        n1=int(input("n1=? "))
        n2=int(input("n1=? "))
        sum=n1-n2
        print(sum)
        tries = tries+1
    elif o=="+":
        n1=int(input("n1=? "))
        n2=int(input("n1=? "))
        sum=n1+n2
        print(sum)
        tries = tries+1
    elif o=="/":
        n1=int(input("n1=? "))
        n2=int(input("n1=? "))
        sum=n1/n2
        print(sum)
        tries = tries+1
    elif o=="*":
        n1=int(input("n1=? "))
        n2=int(input("n1=? "))
        sum=n1*n2
        print(sum)
        tries = tries+1
        
    if tries >=1:
        ans=str(input("Want to stop?: "))
        if ans =="yes":
            break
        elif ans =="no":
            continue
        
    
    
